@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, WebStoreProject

<partial name="Partial/_Slider"></partial>

<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<partial name="Partial/_LeftSideBar"></partial>
				</div>

				<div class="col-sm-9 padding-right">
					<partial name="Partial/_FeaturesItems" model = "ViewBag.Products"></partial>

					<partial name="Partial/_CategoryTab"></partial>

					<partial name="Partial/_RecomendedTabs"></partial>

				</div>
			</div>
		</div>
	</section>